
<% include ./common/header.ejs %>
<% include ./common/nav.ejs %>
<div class="abc">               
<section>
<div class="inner-block">
<h1>Edit User</h1>
<div class="frm">
        
<form action="/edituser/<%= userdetails.id %>" method="post" id='edituser'>

        <div class="frm-row col-2">
            <div class="frm-col-1"><label>First Name</label><input type="text" id='firstname' name="firstname" value="<%= (firstname != '') ? firstname : '' %>" />
            </div>
            <div class="frm-col-2"> <label>Last Name</label><input type="text" id='lastname' name="lastname" value="<%= (lastname != '') ? lastname : '' %>" /> </div>
       </div>
        <div class="frm-row col-2">
            <div class="frm-col-1"><label>Email</label><input type="text" id='email' name="email" value="<%= (email != '') ? email : '' %>" /></div>
        </div>
        <% if(global.olduser){ %>
          <% if(global.olduser.email != email){ %>
        <div class="frm-row col-1">
            <div class="frm-col-1">
               <label><input type="radio" id="adminrole" name="role" value="Admin" <%= (user_role == 'Admin') ? 'checked' : '' %> />Admin</label> 
               <label><input type="radio" id="userrole"  name="role" value="User" <%= (user_role == 'User') ? 'checked' : '' %> />User</label>
            </div>
        </div>
          <% } %>
        <% } else { %>
       
             <% if(global.user.email != email){ %>
        <div class="frm-row col-1">
            <div class="frm-col-1">
               <label><input type="radio" id="adminrole" name="role" value="Admin" <%= (user_role == 'Admin') ? 'checked' : '' %> />Admin</label> 
               <label><input type="radio" id="userrole"  name="role" value="User" <%= (user_role == 'User') ? 'checked' : '' %> />User</label>
            </div>
        </div>
             <% } %>
        <% } %>
        <div class="frm-row col-1">
               <label><input type="checkbox" id="checkbox" name="checkbox"  />Change Password</label> 
        </div>

        <div class="frm-row col-2" id='changePassword' style="display:none" >
            <div class="frm-col-1">
               <label>New Password</label><input type="password" id="newPassword" name="newPassword" /> 
               <label>Confirm Password</label><input type="password" id="confirmPassword"  name="confirmPassword" />
            </div>
        </div>


 <div><input type="hidden" class="form-control" name="userid" value="<%= userdetails.id %>" /></div>          
 <button class="btn-lg btn-primary" name="submit" type="submit">Submit</button>
</form> </div>
</div>
</section>

</div>
<% include ./common/footer.ejs %>

<script>
$(document).ready(function() {
    $('#checkbox').change(function() {
        $('#changePassword').toggle();
    });
});

$("#edituser").validate({
    ignore:":hidden",
    rules :{
        firstname: {required: true},
        lastname: {required: true},
        email: {required: true, email : true},
        role: {required: true},
        newPassword : { required :"#checkbox:checked" , minlength : 6},
        confirmPassword : {required : "#checkbox:checked" , minlength : 6, equalTo : '#newPassword'}

    
    },
    messages: {
        firstname :{required : "Please enter firstname"},
        lastname :{required :"Please enter lastname"},
        email: {required: "Please enter email", email : 'Please enter valid email address'},
        role :{required :"Role is required"},
        newPassword :{required :"Please provide password" , minlength : 'Your password must be atleast 6 characters long' },
        confirmPassword : {required : 'Please provide password' , minlength : 'Your password must be atleast 6 characters long', equalTo : 'Password not matched'}
        
    },
    errorElement: "div"
});


</script>
