
<% include ./common/header.ejs %>
<% include ./common/nav.ejs %>
<div class="abc">               
<section>
<div class="inner-block">
<h1>Edit User</h1>
<div class="frm">
        
<form action="/edituser/<%= userdetails.id %>" method="post">

        <div class="frm-row col-2">
            <div class="frm-col-1"><label>First Name</label><input type="text" name="firstname" value="<%= (firstname != '') ? firstname : '' %>" />
            </div>
            <div class="frm-col-2"> <label>Last Name</label><input type="text" name="lastname" value="<%= (lastname != '') ? lastname : '' %>" /> </div>
       </div>
        <div class="frm-row col-2">
            <div class="frm-col-1"><label>Email</label><input type="text" name="email" value="<%= (email != '') ? email : '' %>" /></div>
        </div>
        <div class="frm-row col-1">
            <div class="frm-col-1">
               <label><input type="radio" id="adminrole" name="role" value="Admin" <%= (user_role == 'Admin') ? 'checked' : '' %> />Admin</label> 
               <label><input type="radio" id="userrole"  name="role" value="User" <%= (user_role == 'User') ? 'checked' : '' %> />User</label>
            </div>
        </div>
        <div class="frm-row col-1">
               <label><input type="checkbox" id="checkbox" name="checkbox"  />Change Password</label> 
        </div>

        <div class="frm-row col-2" id='changePassword' style="display:none" >
            <div class="frm-col-1">
               <label>New Password</label><input type="password" id="newPassword" name="newPassword" /> 
               <label>Confirm Password</label><input type="password" id="confirmPassword"  name="confirmPassword" />
            </div>
        </div>


 <div><input type="hidden" class="form-control" name="userid" value="<%= userdetails.id %>" /></div>          
 <button class="btn-lg btn-primary" name="submit" type="submit">Submit</button>
</form> </div>
</div>
</section>

</div>
<% include ./common/footer.ejs %>

<script>
$(document).ready(function() {
    $('#checkbox').change(function() {
        $('#changePassword').toggle();
    });
});
</script>
