
<% include ./common/header.ejs %>
<% include ./common/nav.ejs %>
<div class="abc">       
<section>
  <a href="<%= url %>"><button type="button" class="btn btn-primary">Authorize Email</button></a>   
</section>
<section>
  <div class="inner-block">
    <h1>Mail Box</h1>
    <div class="frm">
      <div class="table-responsive left width100">
      <table class="table table-bordered table-hover tablesorter"  id="myTable">
        <thead>
          <tr>
            <th><span></span>Name</th>
            <th><span></span>Email</th>
            <th class="action sort-disabled">Action</th>
          </tr>
        </thead>
        <tbody>
        <% if (list.length > 0) { %>
          <% for(var i=0; i < list.length; i++) { %>
            <tr>
              <td><%= list[i].name %></td>
              <td><%= list[i].email %></td>
              <td class="action">
                <a class="edit-icon" href="/fetch_emails/<%= list[i].token %>" title="Edit">Fetch Messages</a>
                <a class="edit-icon" href="/emailmessages/<%= list[i].token %>" title="Edit">View Messages</a>
                <a class="edit-icon" href="/fetch_calendars/<%= list[i].token %>" title="Edit">Fetch Calendars</a>
                <a class="edit-icon" href="/calendars/<%= list[i].token %>" title="Edit">View Calendars</a>
                           
                <a class="edit-icon" href="<%= sitelink %>/deletemailbox/<%= list[i].token %>" title="Delete">Delete</a>
              </td>
            </tr>
            <% } %>
          <% }else{ %>
            <tr>
              <td colspan='3'><center>No Records Found</center></td>
            </tr>  
          <% } %>
        </tbody>
      </table>  
      </div>
    </div>
  </div>
</section>
</div>
<% include ./common/footer.ejs %>

